#scroll-animate
{
  overflow: hidden;
}

#scroll-animate-main
{
  width: 100%;
  left: 0;
  position: fixed;
}

#heightPage,
#heightScroll
{
  width: 10px;
  top: 0;
  position: absolute;
  z-index: 99;
}

#heightPage
{
  left: 0;
}

#heightScroll
{
  right: 0;
}

//PORTFOLIO

header
{
  width: 100%;
  height: 100%;
  background: url(https://raw.githubusercontent.com/hudsonmarinho/header-and-footer-parallax-effect/master/assets/images/bg-header.jpg) no-repeat 50% 50%;
  top: 0;
  position: fixed;
  z-index: -1;
}

// FORMATION

.content
{
  min-height: 100vh;
  background: #ededed;
  position: relative;
  z-index: 1;
  h1{
    color: #999;
  }
}

// CONTENT MOS

.content1 {
  min-height: 100vh;
  background: #ededed;
  position: relative;
  z-index: 1;
  h1{
    color: #999;
  }
}


.content-mos {
  display: flex;
  align-items: center;
  justify-content: space-around;
  margin-top: 100px;
}

.content-mos-left{
  img {
    max-width: 700px;
  border-radius: 10px;
  box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.5);
  }
}

.content-mos-right {
}

.btn-mos {
  position: relative;
  display: inline-block;
  font-size: 20px;
  text-decoration: none;
  overflow: hidden;
  transition: .5s;
  letter-spacing: 4px;
  border-radius: 10px;
  color: rgb(217, 176, 255);
  background-color: #252525;
  margin-top: 20px;
  width: 200px;
}

.btn-mos:hover {
  position: relative;
  display: inline-block;
  font-size: 20px;
  text-decoration: none;
  overflow: hidden;
  transition: .5s;
  letter-spacing: 4px;
  border-radius: 10px;
  color: rgb(217, 176, 255);
  background-color: #676767;
  margin-top: 20px;
  width: 200px;
}

// CONTENT ON_AIR

.content2
{
  min-height: 100vh;
  background: #ededed;
  position: relative;
  z-index: 1;
  h1{
    color: #999;
  }
}

.content-air {
  display: flex;
  align-items: center;
  justify-content: space-around;
  margin-top: 100px;
}

.content-air-left {
    text-align: end;
}

.content-air-right {
  img{
    max-width: 700px;
  border-radius: 10px;
  box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.5);
  }
}

.btn-air {
  position: relative;
  display: inline-block;
  font-size: 20px;
  text-decoration: none;
  overflow: hidden;
  transition: .5s;
  letter-spacing: 4px;
  border-radius: 20px;
  background-color: transparent;
  border: 2px solid rgb(248, 105, 129);
  color: #252525;
  margin-top: 20px;
  width: 200px;
  font-weight: bold;
}

.btn-air:hover {
  opacity: 0.7;
}

//

.wrapper-parallax {
  margin-top: 100%;
  margin-bottom: 300px;
  box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.5);
}

h1{
  width: 100%;
  height: 100%;
  padding: 0;
  margin: 0;
  text-transform: uppercase;
  text-align: center;
  font-family: Helvetica;
  font-size: 150px;
  color: #fff;
}

footer h1
{
  line-height: 300px;
}

header,
footer,
#scroll-animate-main
{
  -webkit-transition-property: all;
     -moz-transition-property: all;
      transition-property: all;

  -webkit-transition-duration: 0.4s;
     -moz-transition-duration: 0.4s;
      transition-duration: 0.4s;

  -webkit-transition-timing-function: cubic-bezier(0, 0, 0, 1);
     -moz-transition-timing-function: cubic-bezier(0, 0, 0, 1);
      transition-timing-function: cubic-bezier(0, 0, 0, 1);
}
